
<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta!!!")
            window.location.replace(`/room/<%=  roomId %>/<%=  content%>`)
        </script>
    </head>
</html>