<section class="no-questions">
    <img src="/images/dialog.svg" alt="Dialogo"/> 
    <h2>Nenhuma Pergunta por aqui...</h2>
    <p>Faça sua primeira pergunta e envie o código dessa aula para outras pessoas!</p>
</section>